.widget_service_wrapper {
    background: url(https://jollibee.com.vn/static/version1698938216/frontend/Jollibee/default/vi_VN/Levinci_Widget/images/jollibee-kid-party-bg.png) repeat center;
    background-size: contain;
    padding: 70px 20px;
}

.widget_service_wrapper .title_wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.widget_service_wrapper .title_wrapper .title {
    font-size: 80px;
    color: #e31837;
    text-transform: uppercase;
    font-weight: bold;
}

.widget_service_wrapper .title_wrapper .description {
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

/* Build css content_service */
.widget_service_wrapper .content_service {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}

.content_service .service_entry {
    width: calc((100% - 34px) / 3);
    text-align: center;
}

.service_entry .media {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content_service .service_entry .media_center {
    display: block;
    min-height: 348px;
}

.service_entry .media_center:visited {
    color: #006bb4;
    text-decoration: none;
}

.service_entry .media_center .img {
    max-width: 309px;
    width: 100%;
    height: auto;
    border: 0;
}

.service_entry .media_heading {
    font-size: 40px;
    line-height: 42px;
    font-family: 'Dongle';
    color: #42210b;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

/* End build css content_service */

/* Build responsive */

@media screen and (max-width: 1023px) {
    .content_service .service_entry .media_center {
        min-height: 0;
    }
}

/* End build responsive */