@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  all: initial;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Dongle','MergeBlack';
  font-size: 18px;
  font-style: normal; 
}

input, optgroup, select, textarea{
  border-width: 1px;
  border-style: solid;
}

ul, ol, dl, li {
  margin: 0;
  padding: 0;
  list-style: none;
}