.page_header{
    background-color: #e31837;
}

.header_content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}




