.banner_welcome{
    background-image: url(https://jollibee.com.vn/media/about_bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 500px;
    opacity: 0.9;
}

.group_content_banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 496px;
    width: 90%;
    text-align: center;
}

.banner_welcome .title {
    font-size:60px;
    color: #e31837;
    text-transform: uppercase;
}

.banner_welcome .description {
    text-align: center;
    margin: 64px 0;
    line-height: 24px;
    font-size: 23px;
}

.btn_banner{
    padding: 3px 60px;
    font-size: 38px;
    line-height: 42px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    background: #c8112c;
    border: 1px solid #e31837;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Dongle','MergeBlack',sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    vertical-align: middle;
}

.btn_banner:hover{
    background-color: #F3D2D6;
    border: 1px solid #F3D2D6;
    color: #333;
}
